<div class="container col-sm-12 px-2">
    <div class="row">
        <div class="col-sm-12">
            <h2>Upload File</h2>
            <div class="custom-file">
                <form>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="chooseFileEvent($event)">
                            <label class="custom-file-label" for="inputGroupFile01">{{filename}}</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon01" (click)="startUpload()">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div *ngIf="uploadInProgress == true">
            <h4>Import Upload Information</h4>
            <br />
            <h5>Select Previous Questionnaire</h5>
            <select class="form-control" [(ngModel)]="selectedQuestionnaire" (change)="selected()">
                <option *ngFor="let q of userQuestionnaires.imports" [ngValue]="q.questionnaireID">{{q.questionnaireName}}</option>
            </select>

            <h5>OR Create a New Questionnaire</h5>
            <form [formGroup]="uploadFileForm">
                <div class="form-group" formGroupName="importInfo">
                    <label for="importName">Import Name:</label>
                    <input type="text" class="form-control" formControlName="importName" placeholder="**filename**">
                </div>
        
                <h4>Columns</h4>
                <div formArrayName="columns" *ngFor="let col of uploadFileForm.get('columns').controls; let i = index;">
                    <div [formGroupName]='i' class="form-group">
                        <label for="columnName{{col}}">Column {{n}}</label>
                        <input type="text" class="form-control" formControlName="columnName" placeholder="Column {{col}}">
                    </div>
                </div>
        
                <button type="button" class="btn btn-danger" (click)="addColumn()">Add Column</button>
                <button type="button" class="btn btn-success" (click)="upload()">Submit</button>
            </form>
        </div>
    </div>
    
</div>

