<div class="container col-12 bg-light" style="height: 100vh;">
    <div class="d-flex justify-content-center">
        <div class="col-6 pt-4 pl-4 bg-white" style="height: 100vh;">
            <div class="row">
                <p class="text-danger">NOTE: This software is in development, so features may break at any time!</p>
                <p>No personal or tracking information is stored and all submissions are completely anonymous</p>
            </div>
            <div class="row ">
                <h2>{{questionnaireName}}</h2>
            </div>
            <div class="row mb-3">
                <small>Written by: {{writer}}</small>
            </div>
    
            <div class="row">
                <form [formGroup]="questionnaire" class="col-12">
                    <div formArrayName="questions" *ngFor="let question of questionnaire.get('questions').controls; let i = index;">
                        <div [formGroupName]="i" class="form-group">
                            <h4>{{questionData[i].value}}</h4>
                            <textarea class="form-control" formControlName="questionResponse" rows="3"></textarea>
                        </div>
                    </div>
                    
                    <button type="button" class="btn btn-success" (click)="submitResponse()">Submit</button>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>