<div class="container col-sm-12 mx-2 my-2">
    <div class="col-sm-12">
        <div *ngFor="let import of imports">
            <div class="row">
                <div class="card col-sm-12">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">
                                {{import.filename}}
                                <h6 class="card-subtitle text-success">
                                    {{import.status}}
                                </h6>
                            </h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="card-text">Items Processed: {{import.responses}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="card-text">Import Date: {{import.importDate}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="card-text">Import Type: {{import.importMethod}}</p>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>