<router-outlet></router-outlet>

<div class="container col-sm-12 mx-2 my-2" style="height:94%">
    <div class="col-sm-12">
        <div *ngFor="let import of imports">
            <div class="row mb-2">
                <div class="card col-sm-12">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">
                                {{import.filename}}
                                <h6 class="card-subtitle" [ngClass]="{'text-success': import.status=='Complete' || import.status =='Imported', 'text-warning': import.status=='Importing' || import.status=='Analysing', 'text-danger': import.status=='Failed'}">
                                    {{import.status}}
                                </h6>
                            </h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="card-text">Items Processed: {{import.responses}}</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="card-text">Import Date: {{import.importDate}}</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <p class="card-text">Import Type: {{import.importMethod}}</p>
                                </div>
                                <div class="row">
                                    <p class="card-text">Import ID: {{import.importID}}</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <a class="text-primary" routerLink="/dashboard/viewuploads/viewresponses/{{import.importID}}/{{import.questionnaireID}}">View Responses</a>
                                </div>
                                <div class="row" *ngIf="import.status=='Complete'">
                                    <a class="text-primary" routerLink="/dashboard/viewanalysis/view/{{import.importID}}/{{import.questionnaireID}}">View Analysis</a>
                                </div>
                                <div class="row">
                                    <a class="text-danger">Delete Import</a>
                                </div>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

