<router-outlet></router-outlet>

<div class="container col-sm-12 mx-2 my-2" style="height: 90vh; overflow-y:scroll;" *ngIf="displayable()">
    <h4>View Questionnaire Analysis</h4>
    <p>This section is for viewing the analysis conducted on each questionnaire</p>
    <div *ngIf="imports === undefined">
        <h4>There are no questionnaires. Please create or import one from the panel on the left</h4>
    </div>
    <div *ngFor="let import of imports">
        <div class="row">
            <div class="col-sm-9">
                <h5>{{import.filename}}</h5>
                
            </div>
            <div class="col-sm-3">
                <a class="text-primary" routerLink="full/{{import.importID}}/{{import.questionnaireID}}">View Analysis >></a>
            </div>
        </div>
    </div>
</div>