<div class="container mx-0 px-0">
    <div class="row">
        <!-- @todo: Add CSS Styling for Sidebar (pos: fixed, overflow-y) -->
        <div class="col-sm-3 bg-light mx-0">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action">View Questionnaires</button>
                <button type="button" class="list-group-item list-group-item-action">Create New Questionnaire</button>
                <button type="button" class="list-group-item list-group-item-action" routerLink='uploadfile' routerLinkActive="active">Upload Responses</button>
                <button type="button" class="list-group-item list-group-item-action">View Analysis</button>
            </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>