<div class="container bg-white col-sm-9 mx-2 my-2" style="position:fixed; z-index:200; height: 94%; overflow-y: scroll;">
    <div class="row">
        <div class="col-sm-3">
            <a class="text-primary" routerLink="/dashboard/viewanalysis">Back</a>
        </div>
        <div class="col-sm-9">
            
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <h3 class="text-success">Accepted Responses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let header of headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let response of tableDataAccepted">
                        <td *ngFor="let col of response.rowData" [ngClass]="{'bg-success': col.classification_changed==1}" (click)="openModal(changeClassification, col.entity_id, col.classification)">
                            <ng-template [ngIf]="col.rawData !== undefined">
                                    {{col.rawData}} 
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <h3 class="text-danger">Rejected Responses</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let header of headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let response of tableDataRejected">
                        <td *ngFor="let col of response.rowData" [ngClass]="{'bg-danger': col.classification_changed==1}" (click)="openModal(changeClassification, col.entity_id, col.classification)">
                            <ng-template [ngIf]="col.rawData !== undefined">
                                {{col.rawData}} 
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Entity Options</h4>
    </div>
    <div class="modal-body"> 
        <div class="row mt-0 mb-3">
            <small>Click any of the buttons to make changes to the entity</small>
        </div>

        <div class="row mt-0 mb-3">
            <button type="button" class="btn btn-primary" (click)="openModal(changeClassification)">Change Classification</button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Close</button>
    </div>
</ng-template>


<ng-template #changeClassification let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body"> 
        <div class="row mt-0 mb-3">
            <small>Are you sure you want to change the classification of entity 
                '{{currentEntity}}'?</small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="changeClassification()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">No</button>
    </div>
</ng-template>

