<div class="container mx-0 mt-2">
    <div class="row">
        <!-- Header -->
        <h2>Welcome back {{getUsername()}}</h2>
    </div>
    <div class="row">
        <p>FeedbackHub is designed to minimise the need for manual analysis of questionnaire forms. You can either create a new questionnaire
            for respondants to answer, or upload a completed questionnaire (in the form of a csv file). To start, please click on one of
            the links on the left sidebar. 
        </p>
    </div>
    <div class="row">
        <p>You are welcome to leave feedback on what you think of FeedbachHub by clicking the link at the top of the page. Thank you for using FeedbackHub.</p>
    </div>
</div>
