<div class="container mx-0 mt-2">
    <div class="row">
        <!-- Header -->
        <h2>Welcome back {{getUsername()}}</h2>

    </div>
    <div class="row">
        <h4>External Services Status</h4>
    </div>
    <div class="row">
        <div class="col">
            GrammarBotClient: 
            <ng-template [ngIf]="grammarBotClientStatus === true">
                <span class="text-success">OK</span>
            </ng-template>
            <ng-template [ngIf]="grammarBotClientStatus === false">
                <span class="text-danger">Down</span> Error -> {{grammarBotClientStatusData}} <br />
                <p><span class="text-danger">NOTE:</span> Any responses will still be uploaded, however they will not be evaluated UNTIL one response is successfully
                submitted AND analysed (i.e., when GrammarBotClient is active again)</p>
            </ng-template>
            <ng-template [ngIf]="grammarBotClientStatus === undefined">
                <span class="text-warning">Evaluating...</span>
            </ng-template>
        </div>
    </div>
</div>
