<div class="col-12">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <form [formGroup]="loginForm">
                <div class="form-group" formGroupName="loginControls">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="john.doe">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" formControlName="password">
                    <del><small id="passtip" class="form-text text-muted">Login information is encrypted using the most secure encryption standards.</small></del>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>

