<div class="col-12">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username_login" placeholder="john.doe">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password_login">
                    <small id="passtip" class="form-text text-muted">Login information is encrypted using the most secure encryption standards.</small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

