<div class="container bg-white col-sm-9 mx-2 my-2" style="position:fixed; z-index:200; height: 94%; overflow-y: scroll;">
    <div class="row">
        <div class="col-sm-3">
            <a class="text-primary" routerLink="/dashboard/viewuploads">Back</a>
        </div>
        <div class="col-sm-9">
            
        </div>
    </div>

    <ng-template [ngIf]="tableData === undefined">
        <div class="row">
            <h4 *ngIf="tableData === undefined">There are no responses yet. Why not share the link?</h4>
        </div>
        <div class="row">
            <a href="http://feedbackhub.uksouth.cloudapp.azure.com:4200/questionnaire/{{questionnaireID}}">http://feedbackhub.uksouth.cloudapp.azure.com:4200/questionnaire/{{questionnaireID}}</a>
        </div>
    </ng-template>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let header of headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let response of tableData">
                        <td *ngFor="let col of response.rowData" [ngClass]="{'table-danger': col.raw_data == ''}">{{col.raw_data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

