<div class="container bg-white col-sm-9 mx-2 my-2" style="position:fixed; z-index:200; height: 94%; overflow-y: scroll;">
    <div class="row">
        <div class="col-sm-3">
            <a class="text-primary" routerLink="/dashboard/viewuploads">Back</a>
        </div>
        <div class="col-sm-9">
            
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Response ID</th>
                        <th scope="col">Raw_Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let response of tableData" [ngClass]="{'table-danger': response.raw_data == ''}">
                        <td>{{response.responseID}}</td>
                        <td>{{response.raw_data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

